*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

header{
    background-color: mediumvioletred;
    padding: 10px;
    
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
header div a{
padding: 10px;
}

button{
    text-align: center;
    padding: 10px;
}

main{
    display: flex;
    width: 100vw;
}
.item-menu{
    display: flex;
    flex-direction: row;
}


.menu-lateral{
   background-color: #f2d0e0;
   padding: 15px;
}

.menu-lateral a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.catalogo{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;

}

.catalogo div{
    padding: 15px;
    background-color: white;

}

.nomeBolo{
    font-weight: bolder;
}

.catalogo div p{
    margin-top: 5px;
}

footer{
    background-color: mediumvioletred;
    text-align: center;
    padding: 20px;
}